@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .body {
        max-width: 1200px;
        min-width: 400px;
        @apply mx-auto;
    }
    .btn {
        @apply rounded px-5 py-3 font-semibold; 
    }
    .w-500 {
        width: 500px;
    }
}