<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
</head>
<body>
    <!-- Filter -->
    <div class="flex justify-between mb-2 md:flex-col">
        <div class="flex md:flex-1 items-center md:mb-2 md:text-xl md:text-center md:border-2 md:border-black md:p-2 md:bg-gray-600">
            <span class="mr-2 md:flex-1 md:m-0 md:text-white">Show</span>
            <select class="mr-2 p-2 md:flex-1 self-stretch md:m-0">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
            <span class="md:flex-1 md:text-white">Commands</span>
        </div>
        <div class="flex flex-1 justify-end items-center md:text-xl md:text-center md:border-2 md:border-black md:p-2 md:bg-gray-600">
            <label for="search" class="mr-2 md:flex-1 md:m-0 md:text-white">Search</label>
            <input type="text" id="search" class="p-2 md:flex-1" />
        </div>
    </div>
</body>
</html>