<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar (Not Login)</title>
    <link rel="stylesheet" href="../tailwindcss/tailwind.css">
</head>
<body style="max-width: 1200px" class="mx-auto">
    <!-- Navbar (Not Login) -->
    <div class="bg-gray-800 p-3 md:p-0">
        <ul class="flex justify-center items-center md:flex-col md:items-stretch">
            <div class="flex flex-grow items-center md:flex-col md:items-stretch">
                <a href="./index.html" class="text-white text-5xl font-bold"><li class="mr-6 ml-3 flex-center md:w-full md:text-center md:mr-0 md:ml-0 md:mb-2">izeBot</li></a>
                <a href="./index.html" class="text-white text-xl"><li class="mr-5 p-2.5 rounded flex-center hover:bg-gray-700 md:w-full md:text-center md:mr-0 md:border-b-2 md:rounded-none">Home</li></a>
                <a href="./docs(not-login).html"><li class="mr-5 md:mr-0 md:border-b-2"><Button class="btn bg-indigo-700 text-white md:w-full md:rounded-none">Docs</Button></li></a>
                <a href="./preview-bot-test(not-Login).html"><li class="mr-5 md:mr-0 md:border-b-2"><Button class="btn bg-indigo-700 text-white md:w-full md:rounded-none">Try izeBot</Button></li></a>
            </div>
            <div class="flex flex-grow justify-end items-center md:flex-col md:items-stretch">
                <a href="./register.html"><li class="mr-5 md:mr-0 md:border-b-2"><Button class="btn bg-indigo-400 text-white md:w-full md:rounded-none">Register</Button></li></a>
                <a href="./login.html"><li class="md:border-b-2"><Button class="btn bg-indigo-700 text-white md:w-full md:rounded-none">Sign in</Button></li></a>
            </div>
        </ul>
    </div>
</body>
</html>