<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../tailwindcss/tailwind.css">
</head>
<body>
    <!-- Navbar -->
    <div class="bg-gray-800 p-3">
        <ul class="flex justify-center items-center">
            <div class="flex flex-grow items-center">
                <a href="./Dashboard.html" class="text-white text-5xl font-bold"><li class="mr-6 ml-3 flex-center">izeBot</li></a>
                <a href="./docs.html"><li class="mr-5"><Button class="btn bg-indigo-700 text-white">Docs</Button></li></a>
            </div>
            <div class="flex flex-grow justify-end items-center">
                <a href="./login.html"><li class="mr-5"><Button class="btn bg-indigo-700 text-white">Sign out</Button></li></a>
                <a href="./profile.html"><li><img src="../src/profile.jpg" class="w-14 rounded-full"></li></a>
            </div>
        </ul>
    </div>
</body>
</html>