<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
</head>

<body>
    <!-- Pagination -->
    <div class="flex justify-between items-center mt-2 md:flex-col">
        <span class="md:mb-5 mt-2">Showing 1 to 10 of 50 Commands</span>
        <ul class="flex text-center md:grid md:grid-cols-4 md:gap-px">
            <li class="
                    cursor-pointer
                    hover:bg-gray-500
                    border-2 border-black border-r-0
                    rounded-l-md
                    px-4
                    py-2
                    md:rounded-none
                    md:border-2
                ">
                First
            </li>
            <li class="cursor-pointer hover:bg-gray-500 border-2 border-black border-r-0 px-4 py-2 md:border-2">
                Previous
            </li>
            <li class="cursor-pointer hover:bg-gray-500 border-2 border-black border-r-0 px-4 py-2 md:border-2">1</li>
            <li class="cursor-pointer hover:bg-gray-500 border-2 border-black border-r-0 px-4 py-2 md:border-2">2</li>
            <li class="cursor-pointer hover:bg-gray-500 border-2 border-black border-r-0 px-4 py-2 md:border-2">3</li>
            <li class="cursor-pointer hover:bg-gray-500 border-2 border-black border-r-0 px-4 py-2 md:border-2">
                Next
            </li>
            <li class="
                    cursor-pointer
                    hover:bg-gray-500
                    border-2 border-black
                    rounded-r-md
                    px-4
                    py-2
                    md:rounded-none
                    md:border-2
                ">
                Last
            </li>
        </ul>
    </div>
</body>

</html>