<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="../tailwindcss/tailwind.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <!-- Sidebar -->
    <div class="bg-gray-200">
        <ul class="flex flex-col">
            <a href="./Dashboard.html"><li class="p-3 hover:bg-gray-300 flex items-center"><i class="fas fa-chart-bar mr-2"></i>Dashboard</li></a>
            <a href="./default-commands.html"><li class="p-3 hover:bg-gray-300 flex items-center"><i class="fas fa-paint-brush mr-2"></i>Default Commands</li></a>
            <a href="./custom-commands.html"><li class="p-3 hover:bg-gray-300 flex items-center"><i class="fas fa-magic mr-2"></i>Custom Commands</li></a>
            <a href="./timer.html"><li class="p-3 hover:bg-gray-300 flex items-center"><i class="fas fa-stopwatch mr-2"></i>Timer</li></a>
            <a href="./preview-bot-test.html"><li class="p-3 hover:bg-gray-300 flex items-center"><i class="fas fa-comments mr-2"></i>Preview Bot Test</li></a>
            <a href="./logs.html"><li class="p-3 hover:bg-gray-300 flex items-center"><i class="fas fa-database mr-2"></i>Chat Logs</li></a>
            <a href="./intregrations.html"><li class="p-3 hover:bg-gray-300 flex items-center"><i class="fas fa-link mr-2"></i>Intregrations</li></a>
        </ul>
    </div>
</body>
</html>