<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Docs</title>
    <link rel="stylesheet" href="../tailwindcss/tailwind.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="bg-gray-200">
        <ul class="flex flex-col">
            <li class="text-center py-2 font-bold text-xl">What's izeBot</li>
            <a href="#"><li class="p-3 hover:bg-gray-300 flex items-center">Introduction</li></a>
            <a href="#"><li class="p-3 hover:bg-gray-300 flex items-center">Dashboard</li></a>
            <a href="#"><li class="p-3 hover:bg-gray-300 flex items-center">Preview Bot Test</li></a>
            <li class="text-center py-2 font-bold text-xl">izeBot's Setting</li>
            <a href="#"><li class="p-3 hover:bg-gray-300 flex items-center">Default Commands</li></a>
            <a href="#"><li class="p-3 hover:bg-gray-300 flex items-center">Custom Commands</li></a>
            <a href="#"><li class="p-3 hover:bg-gray-300 flex items-center">Timer</li></a>
        </ul>
    </div>
</body>
</html>